section .places {
    display: flex;
    width: 100%;
    padding-left: 50%;
    margin-top: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section .places h1{
    font-size: 30px;
    margin-bottom: 20px;
}

section .places h2 {
	font-size: 30px;
}

section .places article {    
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

.place{
    font-size: 30px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

